CALENDAR_DIR = data/calendar
US_CALENDAR_PATH = data/calendar/us.txt
CN_CALENDAR_PATH = data/calendar/cn.txt

INDEX_DIR = data/instruments
US_INDEX_PATH = data/instruments/us.txt
CN_INDEX_PATH = data/instruments/cn.txt

STOCK_DATA_DIR = data/stock_data
US_STOCK_DATA_DIR = data/stock_data/us_data
CN_STOCK_DATA_DIR = data/stock_data/cn_data

NORMALIZED_DATA_DIR = data/normalized_data
US_NORMALIZED_DATA_DIR = data/normalized_data/us_data
CN_NORMALIZED_DATA_DIR = data/normalized_data/cn_data
